name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  stable-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Check under no_std
      run: |
        # thumbv6m-none-eabi is a Tier 2 target which has no `std` and no atomic pointers.
        rustup target add thumbv6m-none-eabi
        cargo check --verbose --target thumbv6m-none-eabi
        # aarch64-unknown-none is Tier 2, has no `std`, but does have atomic pointers.
        rustup target add aarch64-unknown-none
        cargo check --verbose --target aarch64-unknown-none
    
  miri-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup MIRI-Compatible Toolchain
        run: |
          MIRI_NIGHTLY=nightly-$(curl -s https://rust-lang.github.io/rustup-components-history/x86_64-unknown-linux-gnu/miri)
          echo "Installing latest nightly with Miri: $MIRI_NIGHTLY"
          rustup set profile minimal
          rustup default "$MIRI_NIGHTLY"
          rustup component add miri
      - name: Run tests with MIRI
        working-directory: examples
        run: cargo miri test --features="miri"
